<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Birthday Card
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding class="background">
      <h1>
          Happy Birthday Thulani
      </h1>

  <ion-tabs>
      <ion-tab-bar slot="bottom" color="dark">
    
        <ion-tab-button tab="back">
          <ion-icon name="arrow-back"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="home">
          <ion-icon name="radio-button-off"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="more">
          <ion-icon name="ios-square-outline"></ion-icon>
          <ion-label></ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
